html[data-theme-color="skin-5"]{
    --primary: #DB479D;
    --primarydark: #ba3c85;
    --primary-rgb: 219, 71, 157;
    
    --primarylight: #ccf2f9;
    --body-color: #666666;
    --body-bg: #FFFFFF;
    --heading-color: #3D203F;
    --secondary: #3D203F;
    --secondarydark: #031742;
    --secondary-rgb: 61, 32, 63;
    --light: #FAF7F8;

    --btn-radius: 50px;
    --accordion-shadow: inset 0 calc(-1 * 1px) 0 #E1EBF1;

    --font-base: "Montserrat";
    --font-title: "Montserrat";
}