html[data-theme-color="skin-6"]{
    --primary: #71B606;
    --primarydark: #609b05;
    --primary-rgb: 113, 182, 6;
    
    --primarylight: #ccf2f9;
    --body-color: #666666;
    --body-bg: #FFFFFF;
    --heading-color: #23281C;
    --secondary: #23281C;
    --secondarydark: #031742;
    --secondary-rgb: 35, 40, 28;
    --light: #F4F8E9;

    --btn-radius: 15px;
    --accordion-shadow: inset 0 calc(-1 * 1px) 0 #E1EBF1;

    --font-base: "Montserrat";
    --font-title: "Montserrat";
}